<?xml version="1.0" encoding="UTF-8"?>
<!--

  Copyright (C) 2023 eXo Platform SAS.

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU Affero General Public License
  as published by the Free Software Foundation; either version 3
  of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, see<http://www.gnu.org/licenses/>.

-->
<configuration debug="false">
  <property scope="context" name="COLORIZER_COLORS" value="boldred@white,yellow@black,green@,blue@,cyan@" />
  <conversionRule conversionWord="colorize" converterClass="org.tuxdude.logback.extensions.LogColorizer" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} | %highlight(%-5level) | %msg %green([%logger{40}){}%cyan(&lt;%thread&gt;){}%green(]){} %n%xEx</pattern>
    </encoder>
  </appender>
  <logger name="org.exoplatform.commons.notification.template.TemplateUtils" level="OFF" />
  <logger name="org.exoplatform.agenda.notification.builder" level="ERROR" />
  <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="ERROR" />
  <logger name="org.exoplatform.commons.notification.lifecycle.MailLifecycle" level="ERROR" />
  <logger name="org.exoplatform.commons.notification.net.WebNotificationSender" level="OFF" />
  <logger name="org.exoplatform.commons.notification.lifecycle.WebLifecycle" level="WARN" />
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
