@import "./variables.less";

.VuetifyApp {
  .v-calendar-daily__scroll-area {
    overflow: auto !important;
  }

  .v-calendar-daily__head {
    margin: 0 !important;
  }

  .agenda-application {
    .create-event-dialog {
      overflow: hidden !important;
    }
    .v-calendar {
      min-height: ~"calc(100vh - 230px)";
    }
    .agenda-filter-suggester {
      > .v-input {
        padding: 5px !important;
      }
    }
    .agenda-calendar-settings-color {
      width: 24px;
      height: 24px;
    }
  }

  .event-form {
    .v-stepper__content {
      box-sizing: border-box;
    }

    .space-suggester {
      max-width: 270px;
    }

    .location-event-input {
      width: 500px;
    }

    .description-event-textarea {
      width: 500px;
    }

    .time-notification {
      width: 70px;
    }

    .add-notification-link {
      text-decoration: underline;
    }

    .attach-file-link {
      text-decoration: underline;
    }

    .notification-date-option {
      min-height: 40px;
    }

    .event-form-body > * {
      max-width: ~"calc(50% - 21px)";
    }

    .event-form-body-left > * {
      min-height: 64px;
    }

    .v-stepper__items {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .v-input--switch {
      .v-input__slot {
        margin: auto !important;
      }
    }

    .v-autocomplete.identitySuggester {
      width: 290px;

      &.identitySuggester {
        margin-bottom: 0 !important;
      }

      .v-input__slot {
        margin: auto !important;
      }

      .v-select__selections {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        margin: auto;
        display: flex !important;
      }

      input {
        padding: 0;
      }
    }
  }

  .customRecurrentEventDrawer {
    .inputOccurrence {
      max-width: 15%;
    }
  }
  .customRecurrentEventDrawer {
    .endRepeat {
      max-width: 15%;
    }
  }
  .customRecurrentEventDrawer {
    .endAfterNumber {
      max-width: 15%;
    }
  }

  .agenda-application, .event-form {
    [class^="uiIconArrow"] {
      font-size: 12px !important;
    }

    .period-title {
      font-size: 1rem !important;
    }
    select {
      height: 40px;
    }
    .recurrence-select {
      padding: 0;

      .v-input__control {
        height: 40px;
      }
    }
    .v-event-draggable {
      user-select: none;
    }
  }
}

.event-details {
  .event-details-header {
    .event-title {
      font-weight: bold;
      display: inline-block;
      max-width: 50%;
    }
  }

  .event-details-body {
    .event-time {
      .uiIconClock {
        &:before {
          font-size: 32px;
          color: @darkGrey !important;
        }
      }
    }

    .event-description {
      span {
        text-align: justify;
        flex: 1 0 0;
      }
    }

    .event-attendees {
      .attendee {
        .uiIcon-attendee-response-accepted {
          &:before {
            content: '\e9c7';
            color: #3cb58c;
          }
        }

        .uiIcon-attendee-response-declined {
          &:before {
            content: '\e75e';
            color: darkred;
          }
        }

        .uiIcon-attendee-response-needs_action {
          &:before {
            content: '\ea0b';
            color: @primaryColor;
          }
        }

        .uiIcon-attendee-response-tentative {
          &:before {
            content: '\e76b';
            color: @greyColorLighten1Default;
          }
        }
      }
    }
  }
  .darkGreyIcon {
    color: @darkGrey;
  }
}

.v-tabs.text-capitalize .v-tab {
  text-transform: capitalize !important;
}

.v-dialog--fullscreen {
  overflow: hidden !important;
}

@media (max-width: @maxMobileWidth) {
  .VuetifyApp {
    .event-form {
      .event-form-body > * {
        max-width: 100%;
      }
      .v-autocomplete {
        width: 100%;
      }
    }
  }
}