@import "./variables.less";

.VuetifyApp {
  .v-calendar-daily__scroll-area {
    overflow: auto !important;
  }
  .v-calendar-daily__head {
    margin: 0 !important;
  }
  .agenda-application {
    .v-calendar {
      min-height: ~"calc(100vh - 230px)";
    }
    .agenda-filter-suggester {
      > .v-input {
        padding: 5px !important;
      }
    }
  }
  .event-form {
    .v-stepper__content {
      box-sizing: border-box;
    }
    .space-suggester {
      max-width: 270px;
    }
    .location-event-input {
      width: 500px;
    }
    .description-event-textarea {
      width: 500px;
    }
    .time-notification {
      width:50px;
    }
    .add-notification-link {
      text-decoration: underline;
    }
    .attach-file-link {
      text-decoration: underline;
    }
    .notification-date-option {
      min-height: 40px;
    }
    .event-form-body > * {
      max-width: ~"calc(50% - 21px)";
    }
    .event-form-body-left > * {
      min-height: 64px;
    }
    .v-stepper__items {
      overflow-y: auto;
      overflow-x: hidden;
    }
    .v-input--switch {
      .v-input__slot {
        margin: auto !important;
      }
    }
    .v-autocomplete.identitySuggester {
      width: 290px;
  
      &.identitySuggester {
        margin-bottom: 0 !important;
      }
      .v-input__slot {
        margin: auto !important;
      }
      .v-select__selections {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
        margin: auto;
        display: flex !important;
      }
      input {
        padding: 0;
      }
    }
  }
  .agenda-application, .event-form {
    [class^="uiIconArrow"] {
      font-size: 12px !important;
    }
    .period-title {
      font-size: 1rem !important;
    }
    select {
      height: 40px;
    }
    .v-event-draggable {
      user-select: none;
    }
  }
}
@media (max-width: @maxMobileWidth) {
  .VuetifyApp {
    .event-form {
      .event-form-body > * {
        max-width: 100%;
      }
      .v-autocomplete {
        width: 100%;
      }
    }
  }
}